foucault_web_app/.phpunit.cache
foucault_web_app/node_modules
foucault_web_app/public/build
foucault_web_app/public/hot
foucault_web_app/public/storage
foucault_web_app/storage/*.key
foucault_web_app/vendor
foucault_web_app/.env
foucault_web_app/.env.backup
foucault_web_app/.env.production
foucault_web_app/.phpunit.result.cache
foucault_web_app/Homestead.json
foucault_web_app/Homestead.yaml
foucault_web_app/auth.json
foucault_web_app/npm-debug.log
foucault_web_app/yarn-error.log
foucault_web_app/.fleet
foucault_web_app/.idea
foucault_web_app/.vscode

## phpmyadmin
foucault_web_app/public/pma/*
